.box{
    height: 400px;
    width: 300px;
    background-color: blue;
    /* margin: 23px; */
    margin-top: 12px;
    /* margin-left: 45px;
    padding: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid orange; */
    border: 7px solid black;

}