*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeo;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    /* background-color:; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;

}
#nav h3{
    background-color: black;
    color: #fff;
    padding: 15px 25px ;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50px;
    

}
#intro{
    height: 50%;
    width: 100%;
    /* background-color:bisque ; */
    padding: 55px 60px;
}
#intro h1{
font-size: 78px;
letter-spacing: -3px;
line-height: 62px;

}
#place{
     margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#place h3,#place h4{
    font-size: 33px;
    font-weight: 600;
}
#hero-img{
    height: 88%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}
#about{
    /* height: 45%;
    width: 100%; */
    /* background-color: rgb(241, 191, 126); */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 60px;
    gap:40px
}
#about h2{
    /* background-color: red; */
    width: 62%;
    font-size: 82px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: -2;

}
#about-part2{
    width: 35%;
    height: 100%;
    /* background-color: skyblue; */
    padding: 0 50px;
    border-left: 2px solid black;
}
#about-part2{
    font-size: 35px;
    font-weight: 600;
    display: flex;
}